#display {
  border: 1px solid #000;
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

#box {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 100px;
  left: 100px;
}
